body {
    font-family: 'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    /* text-align: right; */
    padding: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

#header h6 {
    padding: 10px;
    display: inline;
    text-align: right;
    font-size: 1.25em;
}

.back-btn {
    width: 40px;
    padding: 0;
}

.back-btn:focus {
    outline: none;
    box-shadow: none;
}

.back-btn svg {
    width: 100%;
    padding: 0;
    color: #006fa5;
}

.register-btn {
    border: 2px solid #006fa5;
    color: #006fa5;
    border-radius: 30px;
}

.register-btn a {
    text-decoration: none;
    color: #006fa5;
}

.register-btn:focus {
    outline: none;
    box-shadow: none;
}

.register-btn:hover {
    background-color: rgba(211, 211, 211, 0.336);
    color: #006fa5;
}

@media only screen and (max-width: 500px) {
    #header  {
      padding-right: 40px;
    }
}

@media only screen and (max-width: 320px) {
    #header  {
        padding-right: 25px;
    }
    #header h6 {
        font-size: 1em;
    }
    .register-btn  {
        padding: 5px;
        font-size: 15px;
    }
    .login-btn {
        padding: 5px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 280px) {
    #header {
        padding-right: 20px;
    }
    .register-btn  {
        padding: 5px;
        font-size: 13px;
    }
    .login-btn {
        padding: 5px;
        font-size: 13px;
    }
}











/* -------------------------------------------------------- */


#search-container {
    margin-top: 50px;
    text-align: center;
    width: max-content;
}

.logo-text h1 {
    font-size: 5em;
    color: #006fa5;
    margin-bottom: 50px;
}


.user-input, .password-input {
    width: 100%;
    border: 0;
    border-bottom: 3px solid #006fa5;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: auto;
}

.password-input {
    margin-top: 30px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.login-btn {
    background-color: #006fa5;
    width: 100%;
    margin-top: 50px;
    border: 2px solid #006fa5;
    border-radius: 30px;
}

.login-btn h6 {
    padding: 5px;
    margin: 0;
    color: white;
    font-size: 1.25em;
}

.login-btn:hover {
    background-color: #006ea5dc;
}

.login-btn a {
    text-decoration: none;
}


@media only screen and (max-width: 500px) {
    .logo-text h1  {
      font-size: 4.5em;
    }
    .main-search-bar {
        width: 75%;
    }
}

@media only screen and (max-width: 355px) {
    .logo-text h1  {
        font-size: 4em;
      }
      .main-search-bar {
          width: 80%;
      }
      input.main-search-bar {
          font-size: 15px;
      }
}

@media only screen and (max-width: 320px) {
    .logo-text h1  {
        font-size: 3.5em;
      }
      .main-search-bar {
          width: 80%;
      }
      input.main-search-bar {
          font-size: 15px;
      }
}

@media only screen and (max-width: 280px) {
    .logo-text h1  {
        font-size: 3em;
    }
    .main-search-bar {
          width: 80%;
    }
    input.main-search-bar {
          font-size: 14px;
    }
}