body {
    font-family: 'Poppins', sans-serif;
}


/* Navbar */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
    filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	/* color: #212121 !important; */
	/* font-weight: 500; */
    /* transition: all 200ms linear; */
    font-size: 1.15em;
}

.home-btn svg {
    width: 25px;
    margin-top: 0;
    padding: 0;
}

.login-btn {
    color: #006fa5 !important;
}

.user-profile-btn svg {
    width: 25px;
}




/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
    margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}


.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}


/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}



/* Search Container */
#search-container {
    margin-top: 150px;
    text-align: center;
}

.logo-text i {
    color: #006fa5;
}

.works-users-radio {
    margin-top: 30px;
}

.works-users-radio svg {
    width: 25px;
}


/* Random Articles */
.random-articles {
    width: 60%;
    margin: auto;
    margin-top: 75px;
}

.random-articles h6 {
    margin: auto;
    margin-top: 50px;
    text-align: left;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    font-size: 20px;
}

.random-articles-content {
    margin-top: 20px;
}

.random-articles-content h3 {
    display: inline-block;
    font-size: 18px;
    width: 60px;
    line-height: 20px;
    padding: 8px 16px 8px 0;
    margin-left: 15px;
    margin-right: 15px;
}

.random-articles-content a {
    padding: 8px 0;
    color: black;
}

.random-articles-content a:hover {
    color: #006fa5;
}

.random-articles-content .col {
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .random-articles {
        width: 80%;
    }
    .random-articles h6 {
        font-size: 18px;
    }
    .random-articles-content h3 {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .random-articles {
        width: 75%;
    }
    .random-articles h6 {
        font-size: 18px;
    }
    .random-articles-content h3 {
        font-size: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .random-articles {
        width: 90%;
    }
    .random-articles h6 {
        font-size: 16px;
    }
    .random-articles-content h3 {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .random-articles {
        width: 90%;
    }
    .random-articles h6 {
        font-size: 16px;
    }
    .random-articles-content h3 {
        font-size: 14px;
        width: 100%;
    }
}


/* Universities Slider */
.uni-slider {
    height: 250px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 200px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.uni-slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

.uni-slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.uni-slide {
    height: 200px;
    width: 225px;
    display: flex;
    align-items: center;
    padding: 25px;
    perspective: 100px;
}

.uni-slide img {
    width: 100%;
}

.uni-slide img:hover {
    transform: translateZ(10px);
    transition: transform .5s;
}

.uni-slider::before,
.uni-slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: " ";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.uni-slider::before {
    top: 0;
    left: 0;
}

.uni-slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}




/* Register Button */
.register-btn {
    border: 2px solid #006fa5;
    color: #006fa5;
    margin-right: 5px;
    border-radius: 30px;
}

.register-btn a {
    text-decoration: none;
    color: #006fa5;
}

.register-btn:focus {
    outline: none;
    box-shadow: none;
}

.register-btn:hover {
    background-color: rgba(211, 211, 211, 0.336);
    color: #006fa5;
}

/* Login Button */
/* .login-btn {
    background-color: #006fa5;
    border: 2px solid #006fa5;
    color: white;
    border-radius: 30px;
}

.login-btn a {
    text-decoration: none;
    color: white;
}

.login-btn:focus {
    outline: none;
    box-shadow: none;
}

.login-btn:hover {
    background-color: #006ea5dc;
    color: white;
} */

@media screen and (max-width: 500px) {
    #header  {
      padding-right: 40px;
    }
}

@media screen and (max-width: 320px) {
    #header  {
        padding-right: 25px;
    }
    #header h6 {
        font-size: 1em;
    }
    .register-btn  {
        padding: 5px;
        font-size: 15px;
    }
    .login-btn {
        padding: 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 280px) {
    #header {
        padding-right: 20px;
    }
    .register-btn  {
        padding: 5px;
        font-size: 13px;
    }
    .login-btn {
        padding: 5px;
        font-size: 13px;
    }
}

.logo-text h1 {
    font-size: 5em;
    color: #006fa5;
    margin: auto;
}

/* Search bar */
.main-search-bar {
    width: 60%;
    border: 0;
    border-bottom: 3px solid #006fa5;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.1em;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    /*-webkit-appearance: none;
    box-shadow: none !important;*/
}

@media screen and (max-width: 768px) {
    .main-search-bar {
      width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .logo-text h1  {
      font-size: 4.5em;
    }
    .main-search-bar {
        width: 75%;
    }
}

@media screen and (max-width: 360px) {
    .logo-text h1  {
        font-size: 4em;
    }
    .main-search-bar {
        width: 85%;
    }
}

@media screen and (max-width: 320px) {
    .logo-text h1  {
        font-size: 3.5em;
      }
      .main-search-bar {
          width: 80%;
      }
      input.main-search-bar {
          font-size: 15px;
      }
}


@media screen and (max-width: 280px) {
    .logo-text h1  {
        font-size: 3em;
    }
    input.main-search-bar {
          font-size: 14px;
    }
    .main-search-bar {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .logo-text i {
        font-size: 13px;
    }
}

@media screen and (max-width:280px) {
    .logo-text i {
        font-size: 12px;
    }
}


/* Footer */
.footer {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
}

.footer h5 {
    padding: 25px;
    color: gray;
    margin: auto;
}
















/* -------------------- NAVBAR -------------------------------- */


/* #Link to page
================================================== */

/* .logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
} */




